@use "./../../styles/vendors/vendors";

.loader {
    $size: 500px;
    
    @mixin loaderSize($shrink-size) {
        @include vendors.spread(width, $size - $shrink-size * 2, $size - $shrink-size);
        @include vendors.spread(height, $size - $shrink-size * 2, $size - $shrink-size);
    }

    &--small {
        @include loaderSize(200);
    }

    &--medium {
        @include loaderSize(150);
    }

    &--large {
        @include loaderSize(100);
    }

    .MuiCircularProgress-root {
        width: inherit !important;
        height: inherit !important;
    }
}
