@use '../../styles/vendors/vendors';

.toolbar {
    display: flex;
    justify-content: space-between;
    background-color: white;
    @include vendors.media('>xs') {
        position: sticky !important;
        top: 0;
        z-index: 1;
    }

    &__title {
        display: inline-flex;
        gap: 10px;
        align-items: baseline;
        a {
            font-size: 0.7em;
        }
    }

    &__actions {
        .temperature-mode {
            margin-right: 20px;
        }

        .MuiButton-root {
            width: 80px;
        }

        @include vendors.media('<=xs') {
            display: none;
        }

        &-mobile {
            @include vendors.media('>xs') {
                display: none;
            }
        }
    }
    
}