.favorites {
    display: flex;
    flex-wrap: wrap;
    
    &__forecast {
        cursor: pointer;
        transition-property: opacity, transform;

        &:hover {
            filter: brightness(85%);
        }
    }

}
