.favorites {
    display: flex;
    flex-wrap: wrap;
    
    &__forecast {
        cursor: pointer;
        transition-property: opacity, transform;

        &:hover {
            filter: brightness(85%);
        }
        &-appear {
            opacity: 0;
            transform: scale(0.9);
        }
        &-appear-active {
            opacity: 1;
            transform: translateX(0);
        }
    }

}
